body {
    font-family: 'HartwellAlt-Bold', sans-serif;
    font-size: 300%;
    margin: 0;
    margin-bottom: 0;
  }
  .title h1 {
    color: rgb(255, 136, 0);
    text-align: center;
    text-decoration-line: overline;
  }
  .title h2{
      color:rgb(255, 169, 70);
      font-size: 50%;
    }
    .about, .teams {
        float:left;
    }
    .careers, .search, .login {
        float:right;
    }
  .title h1,
  .title h2 {
      display: inline;
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 20px;
  }
  p {
    text-align: start;
  }
  .title {
      margin-top: 30px;
      margin-left: 60px;
      margin-right: 60px;
      text-align:center;
  }
  .montage {
    text-align: center;
  }
  .footer {
    background-color: rgb(255, 175, 83);
    height: 100%;
    margin-bottom: 0;
  }
  #copyright {
    text-align: center;
    font-size: 25%;
    color: white;
  }
  #socials_header {
    padding: 0;
    margin: 0px;
    font-size: 55%;
    text-align: center;
    color: white;
    text-transform: uppercase;
  }
  .socials_images {
    text-align: center;
    padding-top: 0px;
  }
  #partner_header {
    padding: 0px;
    font-size: 55%;
    text-align: center;
    color: white;
  }
  .sponsor_images {
    text-align: center;
    padding: 10px;
  }
  .socials_images button {
    border: none;
    background-color: inherit;
  }
  #youtube_img:hover {
    content:url(images/youtube_logo_hover.png);
  }
  #twitch_img:hover {
    content:url(images/twitch_logo_hover.png);
  }
  #twitter_img:hover {
    content:url(images/twitter_hover.png);
  }
  #insta_img:hover {
    content:url(images/instagram_logo_hover.png);
  }
  .about:hover, .teams:hover, .login:hover, .search:hover, .careers:hover{
    color: rgb(255, 136, 0);
  }
  